version: 4.0.0

global-settings:
  working-mode:
    time-source: internal-realtime
    default-network-mapping: internal-simulator

sil-kit:
  participant-name: CANoe4SW_SE
  config-file-path: ../CANoe/SilKitConfig_CANoe.silkit.yaml

datasources:
- file-path: /home/dev/vfs/sil-kit-adapters-veipc/demos/CANoe/veIPC_CANoe_demo.vCDL

      
