name: trigger sil-kit-adapters-ci
on:
  workflow_dispatch:
    inputs:
      branch_under_test:
          required: false
          type: string
  workflow_call:
    inputs:
      common_repo_commit:
        required: false
        type: string
      branch_under_test:
        required: false
        type: string
      linux_runner:
        required: true
        type: string
        default: '["self-hosted", "linux", "ska", "testing"]'
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: serialization_group_veipc
  cancel-in-progress: false

jobs:
  trigger-integration-tests:
    uses: pnd/sil-kit-adapters-ci-testing/.github/workflows/ska-integration-tests.yaml@SKA-923_deactivate_workflow
    with:
      repository_under_test : 'pnd/sil-kit-adapters-veipc'
      branch_under_test: ${{ inputs.branch_under_test != '' && inputs.branch_under_test || (github.event_name == 'pull_request' && github.event.pull_request.head.ref || 'main') }}
      common_repo_commit: ${{ inputs.common_repo_commit }}
      linux_runner: ${{ inputs.linux_runner != '' && inputs.linux_runner || '["self-hosted", "linux", "ska", "testing"]' }}
      linux_scripts: |
        demos/CANoe4SW_SE/run_all.sh
        demos/CANoe4SW_SE/internal/run_all.sh
      windows_scripts: |
        demos/CANoe4SW_SE/run_all.ps1
    secrets: inherit

  trigger-quality-checks:
    needs: trigger-integration-tests
    if: success() || failure()
    uses: pnd/sil-kit-adapters-ci-testing/.github/workflows/ska-quality-checks.yaml@SKA-923_deactivate_workflow
    with:
      repository_under_test : 'pnd/sil-kit-adapters-veipc'
      branch_under_test: ${{ inputs.branch_under_test != '' && inputs.branch_under_test || (github.event_name == 'pull_request' && github.event.pull_request.head.ref || 'main') }}
      common_repo_commit: ${{ inputs.common_repo_commit }}
      linux_runner: ${{ inputs.linux_runner != '' && inputs.linux_runner || '["self-hosted", "linux", "ska", "testing"]' }}
    secrets: inherit
